<h1>Editing Rugby World Cup Host Country</h1>

<%= render 'form', rugby_world_cup_host_country: @rugby_world_cup_host_country %>

<%= link_to 'Show', @rugby_world_cup_host_country %> |
<%= link_to 'Back', rugby_world_cup_host_countries_path %>
